{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "standard",
  "plugins": ["html"],
  "globals": {
    "PAB_CONFIG": true,
    "avalon": true,
    "pab": true,
    "jQuery": true,
    "$": true,
    "layui": true,
    "ISMOCK": true,
    "ISPROXY": true,
    "MOCKAPILIST": true,
    "math": true
  },
  "rules": {
    "generator-star-spacing": "off",
    "space-before-function-paren": "off",
    "indent": [2, 4],
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "one-var": [0, "always"],
    "no-new": [0]
  }
}
